
.navbar{
  width: 100%;
  height: 50px;
  background-color:black;
}
.navbar-header{
  color: white;
  text-align: center;
  padding-top: 10px;
}
body{
  background-color:gray
}
.navbar-inner{
  display: flex;
}
.navbar-inner-text{
  color: white;
  margin-right: 20px;
  margin-left: 10px;
}
.details{
  display: flex;
}
.imageuser{
  margin-left: 25%;
}
.homepage{
  margin-top: 20px;
}
.container{
  margin-left:40% !important;
  margin-top: 30px;
}
.userDetailImage{
  margin-bottom: 30px;
}